In [1]:
import pandas as pd

In [7]:
aws = pd.read_csv('aws_line_items_12mo.csv', parse_dates=['date'])
gcp = pd.read_csv('gcp_billing_12mo.csv', parse_dates=['date'])

In [9]:
print("\n============================")
print("  PART A — DATA PROFILING")
print("============================\n")

============================
  PART A — DATA PROFILING
============================

In [11]:
print("ROW COUNTS")
print("AWS rows:", len(aws))
print("GCP rows:", len(gcp))

ROW COUNTS
AWS rows: 2942
GCP rows: 2907

In [13]:
print("\nMISSING VALUES")
print("\nAWS Missing:\n", aws.isnull().sum())
print("\nGCP Missing:\n", gcp.isnull().sum())

MISSING VALUES

AWS Missing:
 date          0
account_id    0
service       0
team          0
env           0
cost_usd      0
dtype: int64

GCP Missing:
 date          0
project_id    0
service       0
team          0
env           0
cost_usd      0
dtype: int64

In [15]:
print("\nDUPLICATE RECORDS")
print("AWS duplicates:", aws.duplicated().sum())
print("GCP duplicates:", gcp.duplicated().sum())

DUPLICATE RECORDS
AWS duplicates: 0
GCP duplicates: 0

In [17]:
print("\nDATE RANGES")
print("AWS:", aws['date'].min(), "→", aws['date'].max())
print("GCP:", gcp['date'].min(), "→", gcp['date'].max())

DATE RANGES
AWS: 2025-01-01 00:00:00 → 2025-12-31 00:00:00
GCP: 2025-01-01 00:00:00 → 2025-12-31 00:00:00

In [19]:
print("\nENVIRONMENT VALUES")
print("AWS env values:", aws['env'].unique())
print("GCP env values:", gcp['env'].unique())

ENVIRONMENT VALUES
AWS env values: ['prod' 'staging' 'dev']
GCP env values: ['prod' 'dev' 'staging']

In [21]:
print("\nSERVICE NAME SAMPLES")
print("AWS services sample:", aws['service'].dropna().unique()[:10])
print("GCP services sample:", gcp['service'].dropna().unique()[:10])

SERVICE NAME SAMPLES
AWS services sample: ['RDS' 'EC2' 'Lambda' 'EKS' 'S3']
GCP services sample: ['RDS' 'Lambda' 'S3' 'EKS' 'EC2']

In [23]:
print("\nCOST VALIDATION CHECKS")
print("AWS zero/negative cost rows:", len(aws[aws['cost_usd'] <= 0]))
print("GCP zero/negative cost rows:", len(gcp[gcp['cost_usd'] <= 0]))

COST VALIDATION CHECKS
AWS zero/negative cost rows: 39
GCP zero/negative cost rows: 38

In [31]:
summary = pd.DataFrame({
    'file': ['aws', 'gcp'],
    'row_count': [len(aws), len(gcp)],
    'duplicates': [aws.duplicated().sum(), gcp.duplicated().sum()],
    'missing_team': [aws['team'].isnull().sum(), gcp['team'].isnull().sum()],
    'missing_env': [aws['env'].isnull().sum(), gcp['env'].isnull().sum()],
    'zero_or_negative_cost': [
        len(aws[aws['cost_usd'] <= 0]),
        len(gcp[gcp['cost_usd'] <= 0])
    ]
})
summary

,file,row_count,duplicates,missing_team,missing_env,zero_or_negative_cost
0,aws,2942,0,0,0,39
1,gcp,2907,0,0,0,38

In [29]:

summary.to_csv('partA_summary.csv', index=False)

print("\nSummary exported → partA_summary.csv")

print("\n=== PART A COMPLETED ===\n")

Summary exported → partA_summary.csv

=== PART A COMPLETED ===